<section class="t-apresentacao get-center" ang-init="abrirLista()">
	<div class="container">
		<div class="apresentacao-inner">
			<h2 class="text-first">Simule a sua Rotina Financeira</h2>
			<h1 class="text-second">Veja se est&aacute; no caminho certo com <br class="hid-xs hidden-sm"> seus gastos e ganhos</h1>

			<p class="text-descricao">Basta responder algumas perguntas  simples sobre a sua rotina e <br class="hidden-xs hidden-sm">te damos dicas de como melhorar.Simples assim.</p>

			<a ui-sref="inicio" class="btn btn-primary">Come&ccedil;ar &nbsp <i class="fa fa-chevron-right"></i></a>
		</div>
	</div>
</section>